/* 16.1.2014 */
	body { 
    background:white;text-align:center;margin:0px;padding:0px;
    font-size:12px;font-Family:tahoma,arial;
  }  

  .noshadowbox { box-shadow:0px 0px 0px #ffffff; }  /* tabulka bez shadow */
  
  .yesshadowbox { box-shadow:6px 6px 3px #ccc; }    /* shadow */
  
  .no-close .ui-dialog-titlebar-close { display: none; } /* UI dialog */
  .showcss{ display:block; } .hidecss{ display:none; }   /* UI confirm dialog */

  h2 { font-size:40px;margin-top:20px;margin-bottom:30px;color:#800000;text-shadow: 2px 2px #ccc; }
  h6 { font-size:12px;margin:10px;color:#a52a2a; }  
  
  hr {
    height:1px;width:60%;margin-top:30px;padding:0;
    border:none;border-top:1px solid #800000;
  }
        
  input[type=text], input[type=password] {
    border-radius:3px;outline-color:#fff;color:#030;font-size:20px;box-shadow:0px 0px 0px #ffffff;
  }
  input[type=password]:focus {
    border-radius:3px;outline-color:#CD853F;color:#030;font-size:20px;box-shadow:4px 4px 3px #ccc;
  }
  
  label { font-size:26px;font-Family:tahoma,arial;font-weight:bold;color:#006400; }
  
  .lbl { margin-bottom:20px;font-size:20px;font-Family:tahoma,arial;font-weight:bold;color:#CD853F; }
  
  #swkbd { margin:4px;padding:0 6px;text-align:center;display:none; }
  .swkbd { 
    margin:5px;padding:22px 50px;
    font-size:34px;font-face:bold;text-align:center;background-color:#800000;color:#efe;text-shadow: 1px 1px #ddd;
    border:2px solid #B22222;border-radius:8px; 
  }
  
  /** stylovanie UI dialogu * /
  .ui-widget {
    font-family:Verdana,Arial,sans-serif;font-size:20px;
  }
  .ui-widget-content {
    background:#efe;color:#006400;font-size:20px; 
  }
  .ui-dialog {
    top:0;left:0;outline:0 none;padding:0 !important;position:absolute;
    border:1px solid #006400;border-radius:4px;
  }
  .ui-dialog .ui-dialog-content {
    background:none repeat scroll 0 0 transparent;
    border:0 none;overflow:auto;position:relative;padding:0 !important;
  }  
  .ui-widget-header {
    background:#006400;border:0;color:#fff;font-weight:normal;font-size:26px;
  }
  .ui-dialog .ui-dialog-titlebar {
    padding:5px 10px;margin:2px;position:relative;font-weight:bold;font-size:26px;border-radius:4px;
  }
  .ui-dialog-buttonpane { padding:8px; } //*/

/*  
  div { font-size:12px;border-top-left-radius:10px; }
  span { border-radius:8px; }
  fieldset { border-top-left-radius:10px; }
  
  table { margin-top:15px;margin-bottom:15px;min-width:60%;box-shadow:6px 6px 3px #ccc; }
  table tr:first-child { background:#bbc; }
  table tr:nth-child(odd) { background:#dde; }
  table tr:nth-child(even) { background:#eef; }
  th { 
    font-size:12px;font-weight:bold;color:#113;white-space:nowrap;padding:2px;text-align:center;
    background:#ccd;
  }
  tr:first-child th:first-child { border-top-left-radius:10px; }
  td { font-size:12px;color:#113;padding:3px 5px;text-align:center; }
//*/
  